<p-table [value]="treasurelist" [paginator]="true" [rows]="15">
    <ng-template pTemplate="header">
        <tr>
            <th>
                名称
            </th>
            <th>
                博物馆
            </th>
            <th>
                图片
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-itemData>
        <tr [pSelectableRow]="itemData">
            <td>{{itemData.Name}}</td>
            <td>{{itemData.Museum}}</td>
            <td>
                <img width="100px" height="100px" [src]="'http://39.105.206.6:8080/api/file/download?filename=' + itemData.ImageName">
            </td>
        </tr>
    </ng-template>
</p-table>