<div style="float: right;">
    总件数:{{treasurelist.length}}
</div>
<br />
<div>
    <p-table [value]="treasurelist" [paginator]="true" [rows]="15" scrollHeight="750px" [scrollable]="true">
        <ng-template pTemplate="header">
            <tr>
                <th>
                    名称
                </th>
                <th>
                    博物馆
                </th>

                <th>
                    朝代
                </th>
                <th>
                    种类
                </th>
                <th>
                    出土地
                </th>
                <th>
                    作者
                </th>
                <th>
                    临摹者
                </th>
                <th width="500px">
                    描述
                </th>
                <th>
                    图片
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-itemData>
            <tr [pSelectableRow]="itemData">
                <td>{{itemData.Name}}</td>
                <td>{{itemData.Museum}}</td>
                <td>{{itemData.DetailDynasty}}</td>
                <td>{{itemData.Special}}</td>
                <td>{{itemData.Unearthedplace}}</td>
                <td>{{itemData.Author}}</td>
                <td>{{itemData.Reproduction}}</td>
                <td width="500px">{{itemData.Description}}</td>
                <td>
                    <img width="100px" height="100px"
                        [src]="'http://39.105.206.6:8080/api/file/download?filename=' + itemData.ImageName">
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>